{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">

        {% trans_default_domain 'FOSUserBundle' %}
        
        <center>
            <form action="{{ path("fos_user_security_check") }}" method="post" class="py-3 py-md-5" style="max-width: 300px;">
                <h2>{{ "log_in"|trans({}, "messages") }}</h2>
                
                <p>
                    {% if error %}
                        <div class="alert alert-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                
                    <label for="username">{{ 'security.login.username'|trans }}</label><br>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" autofocus />
                	<br>
                    <label for="password">{{ 'security.login.password'|trans }}</label><br>
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                	<br>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg btn-primary btn-block" style="color: white; border: none;" />
                </p>
            </form>
        </center>

    </div> <!-- /container -->
{% endblock %}