{% extends "base.html.twig" %}

{% block title %}{{ "answer_form"|trans }} - {{ parent() }}{% endblock %}

{% block body %}

	<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url("homepage") }}">{{ "homepage"|trans }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ "answer_form"|trans }}</li>
      </ol>
    </nav>
    
    <div class="container">
        <div class="progress">
    		<div id="progress" class="progress-bar bg-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    	</div>
	</div>

	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">              	
      	<center>
      		<h1 class="display-5">{{ "form_final_title"|trans }}</h1>
      		<p class="lead">{{ "form_final_hint"|trans|nl2br }}</p>
      	</center>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(function() {
        	$("#progress").addClass("w-100");
        });
    </script>
{% endblock %}
