{% extends "base.html.twig" %}

{% block title %}{{ "answer_form"|trans }} - {{ parent() }}{% endblock %}

{% block body %}

	<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url("homepage") }}">{{ "homepage"|trans }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ "answer_form"|trans }}</li>
      </ol>
    </nav>
    
    {% for label, messages in app.flashes %}
    	{% if loop.index0 == 0 %}
    		<div class="position-relative overflow-hidden text-center bg-light" style="padding-left: 3rem !important; padding-top: 1rem !important; padding-right: 3rem !important; margin-left: 1rem !important; margin-top: 1rem !important; margin-right: 1rem !important;">
		{% endif %}
      	{% for message in messages %}
      		<div class="alert alert-{{ label }}" role="alert">{{ message|nl2br }}</div>
      	{% endfor %}
    	{% if loop.index0 == 0 %}
    		</div>
        {% endif %}
  	{% endfor %}
    
    <div class="container">
        <div class="progress">
    		<div id="progress" class="progress-bar bg-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    	</div>
	</div>

	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">              	
      	<center>
      		<h1 class="display-5">{{ "form_final_title"|trans }}</h1>
      		<p class="lead">{{ "form_final_hint"|trans|nl2br }}</p>
      	</center>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(function() {
        	$("#progress").addClass("w-100");
        });
    </script>
{% endblock %}
