{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{ app_name }}</h1>
        <p class="lead font-weight-normal">{{ "subtitle"|trans }}</p>
        <a class="btn btn-outline-secondary" href="#map">{{ "show_answers"|trans }}</a>
        <br/>
        <br/>
    	<a class="btn btn-outline-secondary" href="#">{{ "answer_as_a_list"|trans }}</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    
    <div id="map" style="min-height: 80vh"></div>
    
    {% if lists|length > 0 %}
    	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    	
        	<h2>{{ "last_lists"|trans }}</h2>
        
    		{% for list in lists %}
    			<a href="{{ url("list", {"id": list.id, "name": list.nameForUrl}) }}"><h3>{{ list.name }} - {{ list.city.name }}</h3></a>
    		{% endfor %}
    	</div>
    {% endif %}
    
    <!-- 
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>-->
	
{% endblock %}

{% block js %}
    <script type="application/javascript">

    // http://colorbrewer2.org/#type=sequential&scheme=Greens&n=9
    var colors = [
		//"#f7fcf5",
		"#e5f5e0",
		"#c7e9c0",
		"#a1d99b",
		"#74c476",
		"#41ab5d",
		"#238b45",
		"#006d2c",
		"#00441b"
    ];


    $(function() {
        var map = L.map('map').setView([{{ map_center }}], {{ map_zoom }});
        
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(map);

        // Prevent the zoom when we scroll the webpage
        map.scrollWheelZoom.disable();



     	// Control that shows state info on hover
        var info = L.control();
        
        info.onAdd = function (map) {
    		this._div = L.DomUtil.create('div', 'info');
    		this.update();
    		return this._div;
        };
        
        info.update = function (props) {

            if(props != null) {

                var name = "";
                nbLists = "";

                {% for city in cities %}
                	if(props.insee == '{{ city.insee }}') {
                    	name = "{{ city.name }}";

                    	{% if city.validatedLists|length > 1 %}
                    		nbLists = "{{ "nb_lists"|trans({"%nb%": city.validatedLists|length}) }}";
                		{% else %}
                			nbLists = "{{ "zero_one_list"|trans({"%nb%": city.validatedLists|length}) }}";
                    	{% endif %}
                	}
                {% endfor %}


                this._div.innerHTML = 
    			'<h5>' + name + '</h5>' + nbLists;
    			
    			this._div.style.color = 'black';
    			this._div.style.backgroundColor = 'grey';
    			this._div.style.padding = '0px 10px 5px 10px';
    			this._div.style.borderRadius = '0.5em';
    			this._div.style.backgroundColor = 'white';
            }
        	else {
        		this._div.innerHTML = "";
    			this._div.style.backgroundColor = 'transparent';
    		}
    	};
    	
    	info.addTo(map);
  	  
    	
    	var district_boundary;
        
        // Set geojson shapes
        $.ajax({
            dataType: "json",
            url: "{{ asset("bundles/app/cities.geojson") }}",
            success: function(data) {
    
                var multipolygon = L.geoJson(data, {
                    style: style, onEachFeature: onEachFeature
                });
    
                district_boundary = multipolygon.addTo(map);
                map.fitBounds(multipolygon.getBounds());
            }
        });
    
        // Design layout features
        function onEachFeature(feature, layer) {
            
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature
            });
        }
    
        function resetHighlight(e) {
            district_boundary.resetStyle(e.target);
            info.update();
        }
    
        function zoomToFeature(e) {
            
        	var whereToGo = "{{ url("city", {"insee": "XXX", "name": "YYY"}) }}";
        	{% for city in cities %}
        		if(e.target.feature.properties.insee == "{{ city.insee }}") {
                    whereToGo = whereToGo.replace("XXX", "{{ city.insee }}");
                    whereToGo = whereToGo.replace("YYY", "{{ city.nameForUrl }}");
        		}
        	{% endfor %}
            window.location.href = whereToGo;
        }
    
        function highlightFeature(e) {
            var layer = e.target;
    
            layer.setStyle({
                weight: 4,
                color: '#fff',
                dashArray: '',
                fillOpacity: 0.7
            });
    
            if (!L.Browser.ie && !L.Browser.opera) {
                layer.bringToFront();
            }
    
            info.update(layer.feature.properties);
        }
    
        function style(feature) {
    
            return {
                fillColor: getColor(feature.properties.insee),
                weight: 1,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }
    
        function getColor(d) {

            {% for city in cities %}
            	if(d == "{{ city.insee }}") {
                	{% if city.validatedLists|length > 0 %}
                	return colors[{{ loop.index0 }}%colors.length];
                	{% endif %}
            	}
            {% endfor %}
    
    	    
        	
            return "#f0f0f0";
        }






    });
    </script>
{% endblock %}