{% extends "base.html.twig" %}

{% block title %}{% if list is not null %}{{ list.name }} - {{ parent() }}{% else %}{{ parent() }}{% endif %}{% endblock %}

{% block body %}

	<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url("homepage") }}">{{ "homepage"|trans }}</a></li>
        {% if list is not null %}
        	<li class="breadcrumb-item"><a href="{{ url("city", {"insee": list.city.insee, "name": list.city.nameForUrl}) }}">{{ list.city.name }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{% if list is null %}{{ "unknown_list"|trans }}{% else %}{{ list.name }}{% endif %}</li>
      </ol>
    </nav>

	{% if list is null %}
		<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">{{ "unknown_list"|trans }}</h1>
        </div>
	{% else %}

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">{{ list.name }}</h1>
          <p class="lead">
            {{ "list_led_by"|trans({"%name1%": list.firstnameHeadOfList1~" "~list.lastnameHeadOfList1, "%name2%": list.firstnameHeadOfList2~" "~list.lastnameHeadOfList2}) }}
            {% if list.supportedBy is not null and list.supportedBy|trim != "" %}
            	<br/>
            	{{ "supported_by"|trans({"%text%": list.supportedBy}) }}
            {% endif %}
          </p>
          <p class="lead">
          	{% include 'template/share_buttons.html.twig' %}
          </p>
        </div>

	
		{% if answers|length > 0 %}
		
        	<div class="px-3 py-3 pb-md-4 mx-auto">
            	
            	<h5><em>{{ "ask_question_beginning"|trans }}</em></h5>
            	<br>
            	
            	{% set lastCategory = null %}
            	
    			{% for answer in answers %}
            		
                    {% if lastCategory != null and answer.question.category.id == lastCategory.id %}
            			<hr>
            		{% endif %}
            		
            		{% if lastCategory == null or answer.question.category.id != lastCategory.id %}
            			<br><br>
            			<center><h4>{{ answer.question.category.name|upper }}</h4></center>
            		{% endif %}
    			
        			<h5><em>...{{ answer.question.text|nl2br }}</em> <span class="badge badge-dark" data-toggle="tooltip" data-placement="bottom" title="{{ "occurrence_hint"|trans }}" style="cursor: default;">{{ answer.question.occurrence }}</span></h5>
    					
        			<ul style="margin-bottom: 0;">
        				<li>
        					<strong><em>{{ ("answer_value_"~answer.value)|trans }}</em></strong>
        				</li>
        			</ul>
        			{% if answer.text is not empty %}
            			<p>
            				<em style="font-size: 0.8em;">{{ answer.text|nl2br }}</em>
            			</p>
        			{% endif %}
        			
            		{% set lastCategory = answer.question.category %}
    			{% endfor %}
        	</div>
        {% endif %}
        
        <div id="map" style="min-height: 50vh"></div>
	{% endif %}
{% endblock %}

{% block js %}
    <script type="application/javascript">

    {% if list is not null %}
        $(function() {
            var map = L.map('map').setView([{{ map_center }}], {{ map_zoom }});
            
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);
    
            // Prevent the zoom when we scroll the webpage
            map.scrollWheelZoom.disable();
    
    
    
         	// Control that shows state info on hover
            var info = L.control();
    
            var legend = L.control({position: 'bottomright'});
    
            legend.onAdd = function (map) {
    
                var div = L.DomUtil.create('div', 'info legend'),
                grades = ["#ff6c00"],
                legends = ["{{ "color_of_city_with_answer"|trans }}"]
                labels = [" {{ "colored_city_legend"|trans }}"];
    
                // loop through our density intervals and generate a label with a colored square for each interval
                for (var i = 0; i < grades.length; i++) {
                    div.innerHTML +=
                        '<h6 style="padding: 0px;"><em style="color: '+grades[i]+'; background: white; padding-left: 5px; padding-right: 5px;"> '+legends[i]+'</em> '+labels[i]+"</h6>";
            	}
    
                div.style.color = 'black';
    			div.style.padding = '0px 10px 5px 10px';
    			div.style.borderRadius = '0.5em';
    			div.style.backgroundColor = 'white';
    
            return div;
            };
    
            legend.addTo(map);
      	  
        	
        	var district_boundary;
            
            // Set geojson shapes
            $.ajax({
                dataType: "json",
                url: "{{ asset("bundles/app/cities.geojson") }}",
                success: function(data) {
        
                    var multipolygon = L.geoJson(data, {
                        style: style, onEachFeature: onEachFeature
                    });
        
                    district_boundary = multipolygon.addTo(map);
                    map.fitBounds(multipolygon.getBounds());
                }
            });
        
            // Design layout features
            function onEachFeature(feature, layer) {
                
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }
        
            function resetHighlight(e) {
                e.target.closePopup();
                district_boundary.resetStyle(e.target);
                info.update();
            }
        
            function zoomToFeature(e) {
    
                {% if is_mobile() == false %}
                	var whereToGo = "{{ url("city", {"insee": "XXX", "name": "YYY"}) }}";
                	{% for city in cities %}
                		if(e.target.feature.properties.insee == "{{ city.insee }}") {
                            whereToGo = whereToGo.replace("XXX", "{{ city.insee }}");
                            whereToGo = whereToGo.replace("YYY", "{{ city.nameForUrl }}");
                		}
                	{% endfor %}
                    window.location.href = whereToGo;
                {% endif %}
            }
        
            function highlightFeature(e) {
                var layer = e.target;
        
                layer.setStyle({
                    weight: 4,
                    color: '#fff',
                    dashArray: '',
                    fillOpacity: 0.7
                });
    
                var textPopup = "";
    
                {% for city in cities %}
                    if(e.target.feature.properties.insee == "{{ city.insee }}") {
    
                    	textPopup = "<center>";
                    	
                        {% if is_mobile() %}
                            var whereToGo = "{{ url("city", {"insee": "XXX", "name": "YYY"}) }}";
                        	{% for city in cities %}
                                whereToGo = whereToGo.replace("XXX", "{{ city.insee }}");
                                whereToGo = whereToGo.replace("YYY", "{{ city.nameForUrl }}");
                        	{% endfor %}
                        	textPopup += "<a href='"+whereToGo+"' style='{% if city.validatedLists|length > 0 %}color: #ff6c00;{% endif %}'>";
                    	{% endif %}
                    	
                    	textPopup += "<span style='{% if city.validatedLists|length > 0 %}color: #ff6c00;{% endif %}'><h5>{{ city.name }}</h5>";
    
                    	{% if city.validatedLists|length > 1 %}
                    		textPopup += "{{ "nb_answers"|trans({"%nb%": city.validatedLists|length}) }}";
                		{% else %}
                			textPopup += "{{ "zero_one_answer"|trans({"%nb%": city.validatedLists|length}) }}";
                    	{% endif %}
    
                    	{% if is_mobile() %}
                			textPopup += "<br/><br/>{{ "map_hint_mobile"|trans }}";
                		{% else %}
                    		textPopup += "<br/><br/>{{ "map_hint"|trans }}";
                		{% endif %}
                    	textPopup += "</span>";
    
                    	{% if is_mobile() %}
                    		textPopup += "</a></center>";
                		{% endif %}
            		}
                {% endfor %}
    
                if(textPopup) {
                    layer.bindPopup(textPopup);
                    layer.openPopup();
                }
        
                if (!L.Browser.ie && !L.Browser.opera) {
                    layer.bringToFront();
                }
        
                info.update(layer.feature.properties);
            }
        
            function style(feature) {
        
                return {
                    fillColor: getColor(feature.properties.insee),
                    weight: 1,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }
        
            function getColor(d) {
    
                {% for city in cities %}
                	
                	if(d == "{{ city.insee }}") {
                    	{% if city.validatedLists|length > 0 %}
                    		return "#ff6c00";
                    	{% endif %}
                	}
                {% endfor %}
        
        	    
            	
                return "#cccccc";
            }
    
    
    
    
    
    
        });
    {% endif %}
    </script>
{% endblock %}