{% extends "base.html.twig" %}

{% block title %}{{ "original_questions"|trans }} - {{ parent() }}{% endblock %}

{% block body %}

	<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url("homepage") }}">{{ "homepage"|trans }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ "original_questions"|trans }}</li>
      </ol>
    </nav>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{ "original_questions"|trans }}</h1>
      
      	{% if form_start is empty %}
  			<p class="lead">
      	        {{ "questions_soon"|trans({"%date%": form_start|date("Y-m-d H:i:s")|localizeddate("full", "short", locale, time_zone)}) }}
      		</p>
  	    {% elseif "now"|date("Y-m-d H:i:s") < form_start|date("Y-m-d H:i:s") %}
  			<p class="lead">
      	        {{ "questions_soon_date"|trans({"%date%": form_start|date("Y-m-d H:i:s")|localizeddate("full", "short", locale, time_zone)}) }}
      		</p>
  	    {% else %}
      	    <p class="lead" style="text-align: left !important;">{{ "original_questions_hint"|trans|nl2br }}</p>
      	    <p></p>
      	    
      	    {% if questions|length > 0 %}
      	    
                <p></p>
                <p><br>
                	<strong><em>{{ "ask_question_beginning"|trans }}</em></strong>
                </p>
      	    
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>{{ "question"|trans }}</th>
                                <th>{{ "cities"|trans }}</th>
                                <th>{{ "date"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for question in questions %}
                        		<tr style="text-align: left;">
                        			<td><em>...{{ question.text|nl2br }}</em></td>
                        			<td>
                                      	{% if question.cities|length >= 1 %}
                                      		<ul>
                                          		{% for city in question.cities %}
                                          			<li>{{ city.name }}</li>
                                          		{% endfor %}
                                      		</ul>
                                      	{% elseif question.groupsOfCities|length >= 1 %}
                                      		<ul>
                                          		{% for groupOfCities in question.groupsOfCities %}
                                          			<li>{{ groupOfCities.name }}</li>
                                          		{% endfor %}
                                      		</ul>
                                  		{% else %}
                                  			{{ "all_cities"|trans }}
                                  		{% endif %}
                        			</td>
                        			<td>{{ question.creationDate|date("Y-m-d H:i:s")|localizeddate("long", "short", locale, time_zone) }}</td>
                        		</tr>
                        	{% endfor %}
                        </tbody>
                    </table>
                </div>
      	    {% endif %}
      	{% endif %}
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    </script>
{% endblock %}