{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

	<div id="map" style="min-height: 80vh"></div>
{% endblock %}


{% block js %}
    <script type="application/javascript">

        $(function() {

        	// Set map
        	var map = L.map('map').setView([{{ map_center }}], {{ map_zoom }});

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_access_token }}', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);
            
            
            // Prevent the zoom when we scroll the webpage
            map.scrollWheelZoom.disable();

			// Control that shows state info on hover
            var info = L.control();
            
            info.onAdd = function (map) {
        		this._div = L.DomUtil.create('div', 'info');
        		this.update();
        		return this._div;
            };

            info.update = function (props) {
            	
        		var name1 = "";
        		var result1 = "";
        		var color1 = "";
        		var name2 = "";
        		var result2 = "";
        		var color2 = "";
        		var area = "";
        		
            	if(props != null) {
        			this._div.style.color = 'black';
        			this._div.style.backgroundColor = 'grey';
        			this._div.style.padding = '0px 10px 5px 10px';
        			this._div.style.borderRadius = '0.5em';
        			this._div.style.backgroundColor = 'white';
            	}
            	else {
    			this._div.style.backgroundColor = 'transparent';
            	}

            	this._div.innerHTML = "TEST !!!";
    			/*this._div.innerHTML = (area ? "<h5>" + area + "</h5>": "") +
    			(props && name1 ?
    			'<strong style="color:' + color1 + ';">' + name1 + '</strong><strong> : ' + result1 + ' %</strong><br />' +
    			'<strong style="color:' + color2 + ';">' + name2 + '</strong> : ' + result2 + ' %'
     			: '&nbsp;');*/
        	};
        	
        	info.addTo(map);

        	
        	var district_boundary;

        	// Set geojson shapes
            $.ajax({
                dataType: "json",
                url: "{{ asset("bundles/app/cities.geojson") }}",
                success: function(data) {
        
                    var multipolygon = L.geoJson(data, {
                        style: style, onEachFeature: onEachFeature
                    });
        
                    district_boundary = multipolygon.addTo(map);
                    map.fitBounds(multipolygon.getBounds());
                }
            });
            
            // Design layout features
            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }
        
            function resetHighlight(e) {
                district_boundary.resetStyle(e.target);
                info.update();
            }
        
            function zoomToFeature(e) {
                
            	{% if is_mobile() == false %}
                	var whereToGo = "{{ url("city", {"insee": "XXX", "name": "YYY"}) }}";
                	{% for city in cities %}
                		if(e.target.feature.properties.insee == "{{ city.insee }}") {
                            whereToGo = whereToGo.replace("XXX", "{{ city.insee }}");
                            whereToGo = whereToGo.replace("YYY", "{{ city.nameForUrl }}");
                		}
                	{% endfor %}
                    window.location.href = whereToGo;
                {% endif %}
            }

            
            function highlightFeature(e) {
                var layer = e.target;

                // TODO
        
                /*layer.setStyle({
                    weight: 4,
                    color: '#fff',
                    dashArray: '',
                    fillOpacity: 0.7
                });
        
                if (!L.Browser.ie && !L.Browser.opera) {
                    layer.bringToFront();
                }
        
                info.update(layer.feature.properties);*/
            }
            
            function style(feature) {
        
                return {
                    fillColor: getColor(feature.properties.insee),
                    weight: 1,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }
            
            function getColor(d) {

                {% for city in cities %}
                	
                	if(d == "{{ city.insee }}") {
                    	{% if city.validatedLists|length > 0 %}
                    		return "#ff6c00";
                    	{% endif %}
                	}
                {% endfor %}
        
        	    
            	
                return "#cccccc";
            }
        });
    </script>
{% endblock %}